In [20]:
import dask.array as da
import dask.dataframe as dd
from dask.distributed import Client, get_task_stream
from dask.datasets import timeseries

## Dask Diagnostics

The Dask [Dashboard](https://distributed.dask.org/en/latest/diagnosing-performance.html) allows you to diagnose your workflows in real-time.

You need to use the `distributed` scheduler to access it.

In [2]:
client = Client()

In [3]:
client

In [15]:
dat = da.random.random((50_000, 50_000), chunks=(2000, 2000))
dat.sum().compute()

1249989174.981145

In [40]:
t1 = timeseries("2000-01-01", "2000-12-31", id_lam=1000, seed=42)

In [44]:
t1.head()

                       id      name         x         y
timestamp
2000-01-01 00:00:00   984       Dan  0.805566  0.956915
2000-01-01 00:00:01   944  Patricia -0.354885 -0.035084
2000-01-01 00:00:02  1028     Zelda -0.149921  0.652620
2000-01-01 00:00:03   962    Ursula  0.696496 -0.240648
2000-01-01 00:00:04  1005   Michael  0.510820 -0.642327

In [41]:
t1.id.nunique().compute()

326

In [43]:
t1.id.nunique_approx().compute()

326.8135204865296

### Task Stream

* Each rectangle is a task
* All same-function tasks are the same color
* Network Activity/Transmitting data (red)

<img src="images/task-stream.png">

### Progress Bar

On the bottom of the dashboard.

* By task, the left-most colored part of each bar is completed and released.
* The darker-colored to the right of each bar is in-memory on a worker
* The gray bar means that the task is ready to run

<img src="images/progress.png">